[contenteditable="true"] {
  cursor: text;
}
[contenteditable="true"]:empty::before {
  border-bottom: 1px #777 dashed;
}
label[contenteditable="true"]:empty::before {
  content: 'Untitled Question'
}
.radio label[contenteditable="true"]:empty::before {
  content: 'Untitled Option'
}
.description[contenteditable="true"]:empty::before {
  content: 'Optional description'
}
.field-controls {
  text-align: right;
}
.required-toggle {
  display: inline-block;
}
