[contenteditable="true"] {
  cursor: text;
}
[contenteditable="true"]:empty::before {
  border-bottom: 1px #777 dashed;
  padding: 3px;
}
label[contenteditable="true"]:empty::before {
  content: 'Untitled Question'
}
.radio label[contenteditable="true"]:empty::before {
  content: 'Untitled Option'
}
.help-block[contenteditable="true"]:empty::before {
  content: 'Optional description'
}
.field-controls {
  text-align: right;
}
.required-toggle {
  display: inline-block;
}
.other-option label {
  min-width: 200px;
  border-bottom: 1px #cecece solid;
  color: #777;
}
